:root {
  --main-bg-color: rgb(224, 224, 224);
  --main-text-color: #575757;
}
.listElement {
  position: relative;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 0.3rem;
}
.listElement_createdAt {
  color: var(--main-text-color);
  position: absolute;
  right: 50px;
}
.todoBlock {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}
.listElement_checkbox {
  margin: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  accent-color: var(--main-bg-color);
}

.todo-create-from > .form_input {
  margin-top: 0.5rem;
}
.edit-element {
  content: "";
  padding: 12px;
  margin: 0.5rem;
  margin-left: auto;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 10px;

  background-position: center;
  background-repeat: no-repeat;
}
.open_element {
  background-image: url(/public/img/edit.svg);
}
.open_element_dark {
  background-image: url(/public/img/edit_dark.svg);
}
.close_element {
  background-image: url(/public/img/edit_crossed.svg);
}
.close_element_dark {
  background-image: url(/public/img/edit_crossed_dark.svg);
}
.bin {
  background-image: url(/public/img/bin.svg);
}
.bin_dark {
  background-image: url(/public/img/bin-dark.svg);
}
.save {
  background-image: url(/public/img/save.svg);
}
.save_dark {
  background-image: url(/public/img/save-dark.svg);
}

.todo-create-from {
  display: flex;
  align-items: flex-end;
}
.form_add {
  border: none;
  padding: 14px;
  cursor: pointer;
  border-radius: 10rem;
  background-image: url(/public/img/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.edit_form_btn {
  cursor: pointer;
  text-decoration: none;
  height: -moz-fit-content;
  height: fit-content;
  font-size: small;
  padding: 4px 8px;
  color: var(--main-text-color);
  border: none;
  border-radius: 50px;
}
