.aimFormAdd {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: transparent;
  background-image: url(/public/img/plus.svg);
  margin: 0.5rem;
}
.aimFormDelete {
  height: 16px;
  width: 16px;
  border: 0;
  background-color: transparent;
  background-image: url(/public/img/cross.svg);
  margin: 0.5rem;
}
