:root {
  --main-bg-color: rgb(224, 224, 224);
  --main-text-color: #575757;
}
.page {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  color: var(--main-text-color);
}
.pageWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pageBlock {
  margin-top: 2rem;
  padding: 1.3rem;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  box-shadow: inset 8px 8px 16px #d5d5d5, inset -8px -8px 16px #ebebeb;
}
body {
  margin: 0.7rem;
}
.todoPage-link {
  width: fit-content;
  align-self: self-start;
  justify-self: end;
  /* height: 100%; */
  /* flex: 2 2; */
  /* margin: .7rem; */
}

.todo-create-button {
  margin-left: 0.5rem;
}
.dropdown-toggle {
  width: 16rem;
  display: flex;
  justify-content: space-between;
}

.task {
  margin-left: 1rem;
}
.show-subtask {
  margin-left: 2rem;
}
.edit-from .form_input {
  margin: 0 8px;
  padding: 4px 8px;
  color: var(--main-text-color);
  /* padding: ; */
}

